@tailwind base;
@tailwind components;
@tailwind utilities;

.home-buttons > button {
  flex: 40%;
}

.home-header {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Source Code Pro", monospace;
  font-size: 32px;
  font-style: italic;
}

.social-logo {
  height: 4vh;
  margin: 30px;
}

.social-logo:hover {
  height: 7vh;
}